.wrapper {
  width: 100%;
  position: relative;
}

.header {
  width: 100%;
  color: $blue-100;
  cursor: pointer;
  padding: 14px 24px 13px;
  transition: background-color 0.2s ease-in;
  user-select: none;
  border-radius: 24px;
  @extend %blur;
  @extend %flex-between;

  &__open {
    background-color: $grey-100;
    border-radius: 24px 24px 0px 0px;
  }

  &__icon {
    cursor: pointer;
    transition: 0.3s ease-in;

    path {
      fill: $blue-100;
    }
  }
}

.content {
  width: 100%;
  z-index: 1;
  position: absolute;
  overflow-y: auto;
  max-height: 192px;
  background: $grey-100;
  transition: font-weight 0.3s ease-in;
  border-radius: 0px 0px 24px 24px;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: $blue-300;
    border-radius: 16px;
  }

  &__item {
    color: $blue-100;
    cursor: pointer;
    padding: 14px 24px 13px;
    @extend %regular-16;

    &:hover {
      font-weight: 600;
    }

    &_active {
      cursor: default;
      font-weight: 600;
      pointer-events: none;
    }
  }
}
