.wrapper {
  position: relative;
}

.header {
  gap: 15px;
  width: 100%;
  color: $blue-100;
  cursor: pointer;
  padding: 13px;
  transition: background-color 0.2s ease-in;
  user-select: none;
  border-radius: 24px;
  text-transform: capitalize;
  @extend %blur;
  @extend %flex-center;

  &__open {
    border-radius: 24px 24px 0px 0px;
    background-color: $grey-100;
  }

  &__icon {
    cursor: pointer;
    transition: 0.3s ease-in;

    @include breakpoint(tablet) {
      display: none;
    }
    path {
      fill: $blue-100;
    }
  }
  &__activeIcon {
    cursor: pointer;
    display: none;

    @include breakpoint(tablet) {
      display: block;
      svg {
        border-radius: 50%;
      }
    }
  }

  &__text {
    @include breakpoint(tablet) {
      display: none;
    }
  }
}

.content {
  z-index: 1;
  left: 0;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 192px;
  background: $grey-100;
  transition: font-weight 0.3s ease-in;
  border-radius: 0px 0px 24px 24px;
  text-transform: capitalize;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: $blue-300;
    border-radius: 16px;
  }

  &__item {
    gap: 5px;
    color: $blue-100;
    cursor: pointer;
    padding: 13px;
    @extend %flex-align;
    @extend %regular-16;

    @include breakpoint(tablet) {
      gap: 0;
    }
    span {
      @extend %flex-align;
    }

    &:hover {
      font-weight: 600;
    }

    &_active {
      cursor: default;
      font-weight: 600;
      pointer-events: none;
    }
    &_code {
      @include breakpoint(tablet) {
        display: none !important;
      }
    }
    &_flag {
      svg {
        @include breakpoint(tablet) {
          display: none;
        }
      }
    }
    &_circleflag {
      svg {
        display: none;

        @include breakpoint(tablet) {
          display: block;
        }
      }
    }
  }
}
