.wrapper {
  margin-bottom: 16px;

  &__label{
    margin-bottom: 8px;
    @extend %flex-align;

    &_text{
      color: $blue-100;
      text-align: center;
      @extend %semiBold-16;

      span {
        color: #EB5758;
      }

    }
  }

  &__field{
    border: none;
    border-radius: 24px;
    @extend %blur;
  }
}