.wrapper {
  margin-bottom: 16px;

  &__label {
    margin-bottom: 8px;
    @extend %flex-align;

    &_text {
      color: $blue-100;
      text-align: center;
      @extend %semiBold-16;

      span {
        color: $red;
      }
    }
  }

  &__field {
    width: 100%;
    color: $blue-100;
    border: 1px solid rgba(143, 155, 201, 0.4);
    padding: 14px 24px 13px 24px;
    border-radius: 8px;
    resize: none;
    @extend %blur;
    @extend %regular-16;

    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: $blue-300;
      border-radius: 16px;
    }
  }

  &__error {
    color: $red;
    margin-top: 4px;
    @extend %semiBold-14;
  }
}