.wrapper {
  flex: 1;
  user-select: none;
  flex-direction: column;
  @extend %flex-center;

  &__logo {
    width: 188px;
    height: 116px;
  }

  &__title {
    width: 100%;
    margin: 40px 0;
    max-width: 516px;
    text-align: center;
    @extend %regular-16;

    @include breakpoint(tablet-m) {
      margin: 16px 0;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
    }
  }

  &__link {
    color: $blue-100;
    cursor: pointer;
    @extend %regular-16;

    @include breakpoint(tablet-m) {
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
    }

    &:last-child {
      margin-top: 16px;
    }
  }
}
