:global {
  .container {
    max-width: 1340px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 1440px) {
      max-width: 100%;
      padding: 0 50px;
    }
    @media (max-width: 768px) {
      padding: 0 24px;
    }
    @media (max-width: 568px) {
      padding: 0 16px;
    }
  }

  .slick-track {
    display: flex;

    &:first-child {
      div {
        display: flex;
        @include breakpoint(tablet-l) {
          justify-content: center;
        }
      }
    }

    .slick-slide {
      height: auto !important;
      gap: 16px;
    }
  }

  section {
    display: flex;
    padding: 80px 0 60px;
    min-height: 100vh;

    @media (max-width: 568px) {
      padding: 56px 0;
    }
  }
  canvas {
    user-select: none;
  }
  .partners_slider {
    .slick-slide {
      padding: 8px;
    }
  }
}
