%heading-38 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 38px;
  line-height: 46px;
}

%heading-30 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 30px;
  line-height: 38px;
}

%heading-bold-24 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

%heading-regular-24 {
  font-family: Roboto;
  font-size: 24px;
  line-height: 32px;
}

%heading-20 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

%heading-regular-16 {
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
}

%heading-medium-16 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

%heading-bold-16 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

%body-regular-14 {
  font-family: Roboto;
  font-size: 14px;
  line-height: 22px;
}

%body-medium-14 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

%body-bold-14 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
}

%body-regular-underline-14 {
  font-family: Roboto;
  font-size: 14px;
  line-height: 22px;
  text-decoration-line: underline;
}

%body-regular-strikethrough-14 {
  font-family: Roboto;
  font-size: 14px;
  line-height: 22px;
  text-decoration-line: line-through;
}

%body-12 {
  font-family: Roboto;
  font-size: 12px;
  line-height: 20px;
}
