%semiBold-32 {
  font-size: 32px;
  font-weight: 600;
  line-height: 43px;
}

%semiBold-20 {
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
}

%semiBold-16 {
  font-size: 16px;
  line-height: 21px;
  font-weight: 600;
}

%regular-16 {
  font-size: 16px;
  line-height: 21px;
}

%semiBold-14 {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

%regular-14 {
  font-size: 14px;
  line-height: 19px;
}

%regular-12 {
  font-size: 12px;
  line-height: 16px;
}
