// media queries vars
$mobile-m: 320px;
$tablet-m: 576px;
$tablet: 768px;
$tablet-l: 992px;
$desktop: 1024px;
$wide: 1200px;
$wide-l: 1440px;

// @extend
%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%flex-align {
  display: flex;
  align-items: center;
}

%flex-center-row {
  display: flex;
  align-items: center;
  flex-direction: column;
}


%blur {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
}

%form{
  padding: 32px;
  background: $grey-100;
  border-radius: 24px;
}

