.wrapper {
  display: flex;
  flex-direction: column;
}
.title {
  color: $blue-100;
  margin: 56px 0 40px;
  text-align: center;
  @extend %semiBold-32;
  @include breakpoint(tablet-l) {
    margin: 0 0 24px;
  }
  @include breakpoint(tablet-m) {
    font-weight: 600;
    line-height: 32px;
  }
}
.content {
  gap: 50px;
  flex: 1;
  display: flex;
  justify-content: space-between;
  @include breakpoint(tablet) {
    display: block;
  }
  &__contact {
    width: 100%;
    @include breakpoint(tablet) {
      gap: 38px;
      display: flex;
      align-items: start;
      justify-content: space-between;
      h3 {
        margin: 0;
      }
    }
    @include breakpoint(tablet-m) {
      flex-direction: column-reverse;
    }
  }
  &__info {
    color: $black;
    @include breakpoint(tablet) {
      width: 100%;
      max-width: 304px;
    }
    &__header {
      color: $blue-100;
      margin-top: 27px;
      @extend %semiBold-20;
    }
    &__routes {
      padding: 14px 0;
      gap: 5px;
      @extend %flex-align;
    }
  }
}
.form {
  width: 100%;
  height: fit-content;
  max-width: 574px;
  @extend %shadow;
  @extend %form;
  @extend %blur;

  @include breakpoint(tablet) {
    margin-bottom: 27px;
  }
  &_submit {
    width: 100%;
    color: $white;
    padding: 13.5px 0;
    transition: background-color 0.3s ease-in, color 0.3s ease-in-out;
    border-radius: 8px;
    background-color: $blue-100;
    @extend %regular-16;

    &:disabled {
      color: $grey-200;
      @extend %blur;
      @extend %shadow;
    }
  }
}
.map {
  width: 100%;
  height: 260px;
  overflow: hidden;
  max-width: 587px;
  border-radius: 8px;
}
.copyright {
  margin: 60px 0 24px;
  @include breakpoint(tablet) {
    margin: 16px 0;
  }
  p {
    @extend %regular-12;
    text-align: center;
  }
}
