.title {
  color: $blue-100;
  padding: 56px 0;
  text-align: center;
  @extend %semiBold-32;
}

.slider {
  position: relative;
  max-height: 294px;

  &__item {
    margin: 0 10px;
    display: flex !important;
    padding: 32px;
    min-height: 455px;
    border-radius: 8px;
    @extend %blur;

    &_img {
      height: 212px;
    }

    &_text {
      color: $blue-100;
      margin-left: 16px;
      @extend %semiBold-20;
    }
  }
}

.arrow {
  left: calc(50% - 58px);
  width: 48px;
  height: 48px;
  bottom: -260px;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  transform: rotate(-90deg);
  border-radius: 50%;
  @extend %blur;
  @extend %flex-center;

  &__next {
    left: unset;
    right: calc(50% - 56px);
    transform: rotate(90deg);
  }

  svg path {
    fill: $blue-100;
  }
}
