.title {
  color: $blue-100;
  padding: 56px 0;
  text-align: center;
  @extend %semiBold-32;

  @include breakpoint(tablet-m) {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
  }
}

.slider {
  position: relative;

  &__item {
    margin: 0 10px;
    padding: 20px;
    min-height: 455px;
    max-width: 660px;
    width: 100%;
    border-radius: 8px;
    @extend %blur;

    &_wrapper {
      display: flex !important;

      @include breakpoint(tablet-m) {
        flex-direction: column;
        max-width: 288px;
        gap: 17px;
      }
    }

    &_img {
      height: 212px;
      width: 100%;
    }

    &_title {
      color: $blue-100;
      margin-left: 16px;
      @extend %semiBold-20;

      @include breakpoint(tablet-m) {
        margin: 0;
      }
    }
    &_text {
      @extend %regular-14;
      max-width: 282px;
      width: 100%;
      margin-top: 17px;
    }
  }
}

.arrow {
  left: calc(50% - 58px);
  width: 48px;
  height: 48px;
  bottom: -124px;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  transform: rotate(-90deg);
  border-radius: 50%;
  @extend %blur;
  @extend %flex-center;

  &__next {
    left: unset;
    right: calc(50% - 56px);
    transform: rotate(90deg);
  }

  svg path {
    fill: $blue-100;
  }
}
