.title {
  color: $blue-100;
  margin: 56px 0;
  text-align: center;
  @extend %semiBold-32;
  @include breakpoint(tablet-m) {
    margin: 0 0 16px;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
  }
}
.slider {
  &__item {
    max-width: 660px;
    width: 100%;
    border-radius: 8px;
    max-height: 455px;
    height: 100%;
    padding: 32px;
    @extend %blur;
    @include breakpoint(tablet) {
      max-height: 100%;
      padding: 16px;
    }
    &_wrapper {
      @include breakpoint(tablet-m) {
        flex-direction: column;
        max-width: 288px;
        gap: 17px;
        margin: 0 auto;
      }
    }
    &_img {
      max-height: 212px;
      max-width: 50%;
      width: 100%;
      height: 100%;
      float: left;
      padding: 0 16px 8px 0;
      box-sizing: content-box;
      @include breakpoint(tablet-m) {
        max-width: 100%;
      }
    }
    &_title {
      color: $blue-100;
      @extend %semiBold-20;
    }
    &_text {
      @extend %regular-14;
      margin-top: 17px;
    }
    &_showBtn {
      display: none;
      color: $blue-100;
      padding-top: 21px;
      background-color: unset;
      @include breakpoint(tablet-m) {
        display: block;
      }
    }
  }
}
.arrow {
  left: calc(50% - 58px);
  width: 48px;
  height: 48px;
  bottom: -100px;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  transform: rotate(-90deg);
  border-radius: 50%;
  @extend %shadow;
  @extend %blur;
  @extend %flex-center;
  &__next {
    left: unset;
    right: calc(50% - 56px);
    transform: rotate(90deg);
  }
  svg path {
    fill: $blue-100;
  }
}
