.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.title {
  color: $blue-100;
  margin: 0 auto 56px;
  text-align: center;
  @extend %semiBold-32;

  @include breakpoint(tablet-l) {
    margin: 0 auto 24px;
  }
  @include breakpoint(tablet-m) {
    margin: 0 auto 16px;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
  }
}
.slider {
  position: relative;
  &__item {
    margin: 10px;
    padding: 32px 16px 16px;
    overflow: hidden;
    border-radius: 8px;
    min-height: 384px;
    max-width: 320px;
    flex-direction: column;
    @extend %shadow;
    @extend %blur;
    @extend %flex-align;
    @include breakpoint(tablet-l) {
      margin: 10px auto;
    }
    &_title {
      text-align: center;
      margin-top: 8px;
      color: $blue-100;
      @extend %semiBold-20;
    }
    &_wrapper {
      margin-top: 36px;
    }
    &_text {
      display: flex;
      @extend %regular-14;
      &_order {
        padding-right: 5px;
      }
    }
  }
}
.arrow {
  width: 48px;
  height: 48px;
  top: calc(50% - 24px);
  cursor: pointer;
  z-index: 2;
  position: absolute;
  transform: rotate(-90deg);
  border-radius: 50%;
  left: -42px;
  right: unset;
  @extend %shadow;
  @extend %blur;
  @extend %flex-center;
  @include breakpoint(tablet) {
    top: calc(50% - 16px);
    left: -16px;
    width: 32px;
    height: 32px;
  }
  &__next {
    left: unset;
    right: -42px;
    transform: rotate(90deg);
    @include breakpoint(tablet) {
      right: -16px;
    }
  }
  svg path {
    fill: $blue-100;
  }
}
.button {
  width: 100%;
  max-width: 288px;
  color: $white;
  margin: 56px auto 0;
  display: block;
  padding: 14px 24px 13px;
  background: $blue-100;
  border-radius: 8px;
  font-size: 16px;
  line-height: 21px;
  @include breakpoint(tablet) {
    margin: 24px auto 0;
  }
}
.form {
  max-width: 574px;
  margin: 0 auto;
  width: 100%;
  @extend %form;
  @extend %blur;

  &_submit {
    width: 100%;
    color: $white;
    padding: 13.5px 0;
    border-radius: 8px;
    transition: background-color 0.3s ease-in, color 0.3s ease-in-out;
    background-color: $blue-100;
    @extend %regular-16;

    &:disabled {
      color: $grey-200;
      @extend %shadow;
      @extend %blur;
    }
  }
}
