.content {
  max-width: 455px;
  width: 100%;
  max-height: 540px;
  overflow-y: auto;
  text-align: left;
  @extend %blur;
  @extend %regular-14;

  p {
    margin-bottom: 10px;
    @extend %regular-14;
  }

  h2 {
    margin: 20px 0;
    @extend %regular-14;
  }
}
