.wrapper {
  @extend %flex-center-row;
  &__container {
    padding: 24px;
    border-radius: 8px;
    @extend %shadow;
    @extend %blur;
    @extend %flex-center-row;
    @include breakpoint(tablet-m) {
      padding: 8px;
    }
  }
}
.title {
  color: $blue-100;
  margin: 16px 0px 26px;
  @extend %semiBold-32;
  @include breakpoint(tablet-m) {
    margin: 0 0 16px;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
  }
}
.subtitle {
  color: $black;
  margin-bottom: 40px;
  max-width: 593px;
  text-align: center;
  @extend %regular-16;
  @include breakpoint(tablet-m) {
    font-size: 14px;
    font-weight: normal;
    line-height: 19px;
    margin-bottom: 16px;
  }
}
.login {
  color: $white;
  min-width: 288px;
  padding: 14px 0 13px;
  margin-bottom: 14px;
  background: $blue-100;
  border-radius: 8px;
  @extend %regular-16;
}
.form {
  width: 100%;
  max-width: 574px;
  @extend %form;
  @extend %blur;
  
  &_submit {
    width: 100%;
    color: $white;
    padding: 13.5px 0;
    border-radius: 8px;
    transition: background-color 0.3s ease-in, color 0.3s ease-in-out;
    background-color: $blue-100;
    @extend %regular-16;

    &:disabled {
      color: $grey-200;
      @extend %blur;
      @extend %shadow;
    }
  }
}
