.container {
  width: 100%;
  bottom: 0;
  z-index: 3;
  padding: 14px 0;
  position: fixed;
  background: $white;
  box-shadow: 0 -3px 10px rgba(143, 155, 201, 0.4);
}

.wrapper {
  @extend %flex-between;

  &_reverse {
    flex-direction: row-reverse;
  }
  @include breakpoint(tablet-m) {
    padding-right: 32px;
  }
  &__animation {
    transform: translateX(0) !important;
    transition: all 0.3s;
    @extend %flex-between;

    &_active {
      transform: translateX(0);
      margin-right: 22px;
    }

    div {
      margin: 0 !important;
    }
  }

  &__switcher {
    width: 32px;
    right: 0;
    height: 32px;
    cursor: pointer;
    position: absolute;
    transform: rotate(-90deg);
    transition: all 0.3s;
    background-color: $white;
    @extend %flex-center;
    display: none;

    @include breakpoint(tablet-m) {
      display: flex;
    }
    &_active {
      transform: rotate(90deg);
    }

    path {
      fill: $blue-100;
    }
  }
}

.routes {
  @extend %flex-align;
  &:nth-last-child(3),
  &:nth-last-child(2) {
    @include breakpoint(tablet-m) {
      transform: translateX(576px);
      justify-content: space-around;
      width: 100%;
    }
  }

  &__rotate {
    transform: rotate(180deg);
  }
  &__item {
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: $blue-100;
    margin-left: 16px;
    border-radius: 8px;
    @extend %flex-center;

    &_disable {
      background-color: $white !important;
      border: 1px solid $blue-100;

      path {
        fill: $blue-100 !important;
      }
    }
    span {
      align-items: center;
      font-weight: 700;
      font-size: 16px;
      line-height: 33px;
      color: $white;
    }
    &_link {
      background: transparent;
    }

    &:first-child {
      margin-left: 0;
    }
  }
}
.arrow_rotate {
  svg {
    transform: rotate(180deg);
  }
}
