.container {
  width: 100%;
  bottom: 0;
  z-index: 3;
  padding: 14px 0;
  position: fixed;
  background: $white;
}

.wrapper {
  @extend %flex-between;
}

.routes {
  @extend %flex-align;

  &__item {
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: $blue-100;
    margin-left: 16px;
    border-radius: 48px;
    @extend %flex-center;

    &_link {
      background: transparent;
    }

    &:first-child {
      margin-left: 0;
    }
  }
}
