.container {
  width: 100%;
  bottom: 0;
  z-index: 3;
  padding: 14px 0;
  position: fixed;
  background: $white;
  box-shadow: 0 -3px 10px rgba(143, 155, 201, 0.4);
}

.wrapper {
  @extend %flex-between;

  &__animation {
    width: 100%;
    transform: translateX(120%);
    @extend %flex-between;

    &_active {
      transition: all 0.3s;
      transform: translateX(0);
      margin-right: 22px;
    }
  }

  &__switcher {
    width: 32px;
    right: 0;
    height: 32px;
    cursor: pointer;
    position: absolute;
    transform: rotate(-90deg);
    transition: all 0.3s;
    background-color: $white;
    @extend %flex-center;

    &_active {
      transform: rotate(90deg);
    }

    path {
      fill: $blue-100;
    }
  }
}

.routes {
  @extend %flex-align;

  &__rotate{
    transform: rotate(180deg);

  
  }

  &__item {
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: $blue-100;
    margin-left: 16px;
    border-radius: 8px;
    @extend %flex-center;

    &_disable{
      background-color: $white !important;
      border:1px solid $blue-100;
      path{
        fill:$blue-100 !important;
      }
    }
    span {
      align-items: center;
      font-weight: 700;
      font-size: 16px;
      line-height: 33px;
      color: $white;
    }
    &_link {
      background: transparent;
    }

    &:first-child {
      margin-left: 0;
    }

  }
}
