.wrapper {
  @extend %flex-center-row;

  &__title {
    color: $blue-100;
    padding: 56px 0;
    text-align: center;
    @extend %semiBold-32;
  }

  &__form {
    width: 100%;
    max-width: 352px;
    @extend %form;
    @extend %blur;

    &_submit {
      width: 100%;
      color: $white;
      padding: 13.5px 0;
      border-radius: 48px;
      transition: background-color 0.3s ease-in, color 0.3s ease-in-out;
      background-color: $blue-100;
      @extend %regular-16;

      &:disabled {
        color: $grey-200;
        @extend %blur;
      }
    }
  }
}
