.wrapper {
  @extend %flex-center-row;

  &__title {
    color: $blue-100;
    padding: 56px 0;
    text-align: center;
    @extend %semiBold-32;

    @include breakpoint(tablet-m) {
      margin: 56px 0 16px;
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
    }
  }

  .course {
    gap: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;

    @include breakpoint(tablet-l) {
      gap: 10px;
      display: grid;
      padding: 10px;
      grid-template-columns: repeat(3, 1fr);
    }
    @include breakpoint(tablet-m) {
      display: block;
    }
    &__types {
      margin: 0 40px 0 0;
      padding: 0;
      display: flex;
      list-style: none;
      max-height: 540px;
      overflow-y: auto;
      flex-direction: column;
      max-width: 372px;
      width: 100%;
      @extend %semiBold-16;

      @include breakpoint(tablet-l) {
        grid-column: 1 / 3;
        grid-row: 1;
        margin: 0;
      }

      @include breakpoint(tablet-m) {
        display: flex;
        flex-direction: row;
        max-width: 100vw;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
      }
      &_tabs {
        color: $blue-100;
        cursor: pointer;
        display: flex;
        padding: 5px 18px;
        align-items: center;
        margin-bottom: 32px;
        border-radius: 5px 25px 25px 5px;
        background-color: $white;
        @extend %blur;

        @include breakpoint(tablet) {
          margin-right: 16px;
          min-width: 224px;
          min-height: 48px;
        }

        svg {
          @include breakpoint(tablet) {
            min-width: 24px;
            height: 24px;
          }
        }
        svg path {
          fill: $blue-100;
        }

        span {
          margin-left: 16px;
        }
      }

      &_tabs_active {
        color: $white;
        background-color: $blue-100;

        svg path {
          fill: $white;
        }
      }
    }

    &__info {
      width: 100%;
      text-align: left;
      max-width: 455px;

      @extend %regular-14;

      @include breakpoint(tablet-l) {
        grid-column: 1 / 4;
        grid-row: 2;
      }
      &_tabs {
        gap: 10px;
        margin-bottom: 24px;
        @extend %flex-between;

        &_btn {
          width: 50%;
          cursor: pointer;
          padding-bottom: 16px;
          @extend %blur;
          @extend %flex-align;

          p {
            margin-left: 16px;
          }
        }
        &_btn_active {
          border-bottom: 2px solid $blue-100;
          padding-bottom: 14px;
          pointer-events: none;
        }
      }
      &_content {
        max-height: 532px;
        overflow-y: auto;
        @extend %blur;

        @include breakpoint(tablet-l) {
          overflow-y: hidden;
          max-height: unset;
          max-width: unset;
        }

        p {
          margin: 0 5px 10px;
          @extend %regular-14;
        }

        h2 {
          margin: 20px 0;
          @extend %regular-14;
        }
      }
    }
    &__priceList {
      height: fit-content;
      @extend %blur;

      @include breakpoint(tablet-l) {
        grid-column: 3;
        grid-row: 1;
      }
      &_item {
        gap: 20px;
        margin-bottom: 20px;
        @extend %flex-align;
      }

      &_login {
        color: $white;
        padding: 14px 0 13px;
        width: 288px;
        background: $blue-100;
        border-radius: 48px;
        @extend %regular-16;

        @include breakpoint(tablet) {
          width: 250px;
        }
      }
    }
  }

  &__form {
    width: 100%;
    max-width: 352px;
    @extend %form;
    @extend %blur;

    &_submit {
      width: 100%;
      color: $white;
      padding: 13.5px 0;
      transition: background-color 0.3s ease-in, color 0.3s ease-in-out;
      border-radius: 48px;
      background-color: $blue-100;
      @extend %regular-16;

      &:disabled {
        color: $grey-200;
        @extend %blur;
      }
    }
  }
}
