.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;

  @include breakpoint(tablet) {
    display: block;
  }
  &__title {
    color: $blue-100;
    margin: 0 auto 56px;
    text-align: center;
    @extend %semiBold-32;

    @include breakpoint(tablet-l) {
      margin: 0 auto 40px;
    }
    @include breakpoint(tablet-m) {
      margin: 0 auto 24px;
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
    }
  }
  .course {
    gap: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    padding: 24px;
    @extend %shadow;
    @include breakpoint(tablet-l) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    @include breakpoint(tablet-m) {
      display: block;
      padding: 8px;
    }
    &__types {
      gap: 32px;
      padding: 0 16px;
      display: flex;
      list-style: none;
      flex-direction: column;
      max-width: 372px;
      max-height: 288px;
      width: 100%;
      overflow-x: auto;
      @extend %semiBold-16;
      @include breakpoint(desktop) {
        padding-right: 20px;
      }
      @include breakpoint(tablet-l) {
        padding: 0;
        grid-column: 1 / 3;
        grid-row: 1;
        min-width: 278px;
      }
      @include breakpoint(tablet) {
        margin-bottom: 31px;
      }
      @include breakpoint(tablet-m) {
        display: flex;
        flex-direction: row;
        max-width: 100vw;
        gap: 16px;
      }
      &::-webkit-scrollbar {
        width: 6px;
      }
      &::-webkit-scrollbar-thumb {
        background: $blue-300;
        border-radius: 16px;
      }
      &_tabs {
        color: $blue-100;
        cursor: pointer;
        min-height: 48px;
        display: flex;
        padding: 8px 31px;
        align-items: center;
        border-radius: 8px;
        background-color: $white;
        border: 1px solid rgba(143, 155, 201, 0.4);
        @extend %blur;
        @include breakpoint(tablet-m) {
          max-width: 70vw;
          min-width: min-content;
          width: 100%;
        }
        svg path {
          fill: $blue-100;
        }
        svg {
          @include breakpoint(tablet-m) {
            width: 24px;
            height: 24px;
          }
        }
        &_title {
          margin: 0 5px 0 16px;
          @include breakpoint(tablet-m) {
            min-width: 168px;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
          }
        }
      }
      &_tabs_active {
        color: $white;
        background-color: $blue-100;
        svg path {
          fill: $white;
        }
      }
    }
    &__info {
      width: 100%;
      text-align: left;
      margin-bottom: 24px;
      @extend %regular-14;
      @include breakpoint(tablet-l) {
        grid-column: 1 / 4;
        grid-row: 2;
      }
      &_tabs {
        gap: 10px;
        margin-bottom: 24px;
        @extend %flex-between;
        @include breakpoint(tablet-l) {
          flex-direction: column;
        }
        &_btn {
          width: 100%;
          cursor: pointer;
          padding: 8px;
          border-radius: 8px;
          @extend %shadow;
          @extend %blur;
          @extend %flex-align;
          p {
            margin-left: 16px;
          }
          &_active {
            border: {
              bottom: 2px solid $blue-100;
            }
            pointer-events: none;
          }
        }
      }
      &_content {
        max-height: 532px;
        max-width: 455px;
        padding: 16px;
        border-radius: 8px;
        width: 100%;
        @extend %shadow;
        @extend %blur;
        @include breakpoint(tablet-l) {
          overflow-y: hidden;
          max-height: unset;
          max-width: unset;
        }
        p {
          margin-bottom: 10px;
          @extend %regular-14;
        }
        h2 {
          margin: 20px 0;
          @extend %regular-14;
        }
        &_showBtn {
          display: none;
          color: $blue-100;
          padding: 0;
          background-color: unset;

          @include breakpoint(tablet-m) {
            display: block;
          }
        }
      }
    }
    &__priceList {
      height: fit-content;
      width: 100%;
      padding: 20px;
      border-radius: 8px;
      min-width: max-content;
      @extend %shadow;
      @extend %blur;

      @include breakpoint(tablet-l) {
        grid-column: 3;
        grid-row: 1;
        margin-top: 0;
      }

      &_item {
        gap: 20px;
        @extend %flex-align;
      }
      &_login {
        width: 100%;
        margin-top: 20px;
        border-radius: 8px;
        padding: 14px 0 13px;
        color: $white;
        background: $blue-100;
        @extend %regular-16;
        @include breakpoint(tablet-m) {
          max-width: unset;
        }
      }
    }
  }
  &__form {
    width: 100%;
    max-width: 574px;
    margin: 0 auto;
    @extend %form;
    @extend %blur;

    &_submit {
      width: 100%;
      color: $white;
      padding: 13.5px 0;
      transition: background-color 0.3s ease-in, color 0.3s ease-in-out;
      border-radius: 8px;
      background-color: $blue-100;
      @extend %regular-16;

      &:disabled {
        color: $grey-200;
        @extend %blur;
        @extend %shadow;
      }
    }
  }
}
